<div class="container">
  <h2>Introduce los datos de tu Bicicleta</h2>
  <div class="field">
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" [(ngModel)]="color">
  </div>
  <div class="field">
    <label for="color">Marca:</label>
    <input type="text" id="marca" name="macra" [(ngModel)]="marca">
  </div>
  <div class="field">
    <label for="pinhones">Piñones:</label>
    <input type="number" id="pinhones" name="pinhones" [(ngModel)]="pinhones" min="1" max="7">
  </div>
  <div class="field">
    <label for="platos">Platos:</label>
    <input type="number" id="platos" name="platos" [(ngModel)]="platos" min="1" max="3">
  </div>
  <div class="field">
    <label for="electrica">Eléctrica:</label>
    <input type="checkbox" id="electrica" name="electrica" [(ngModel)]="electrica">
  </div>
  <button (click)="showData()">Mostrar Información de la Bicicleta:</button>
</div>


<div class="container" *ngIf="show">
  <h2>Información de la Bicicleta</h2>
  <p>Color: {{bicicleta.color}}</p>
  <p>Marca: {{bicicleta.marca}}</p>
  <p>Platos: {{bicicleta.pinhones}}</p>
  <p>Piñones: {{bicicleta.platos}}</p>
  <p>Eléctrica: {{bicicleta.electrica?"Sí":"No"}}</p>
  <p>Velocidad: {{bicicleta.velocidad}}</p>

  <div class="field">
    <label for="velocidad">Inique una velocidad para acelerar o frenar:</label>
    <input type="number" id="velocidad" name="velocidad" [(ngModel)]="velocidad" min="0">
  </div>
  <button (click)="bicicleta.acelerar(velocidad)">Acelerar</button>
  <button (click)="bicicleta.frenar(velocidad)">Frenar</button>

</div>

